<footer class="bg-dark text-white pt-4 mt-5">
  <div class="container text-center text-md-start">
    <div class="row">
      
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Mi Sitio Web</h5>
        <p>
          Aplicación web para gestión y recursos educativos.
        </p>
      </div>

      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Enlaces</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">Inicio</a></li>
          <li><a href="#" class="text-white text-decoration-none">Acerca de</a></li>
          <li><a href="#" class="text-white text-decoration-none">Contacto</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Síguenos</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">Instagram</a></li>
          <li><a href="#" class="text-white text-decoration-none">Facebook</a></li>
          <li><a href="#" class="text-white text-decoration-none">Twitter</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="text-center p-3 bg-secondary mt-3">
    © 2025 Todos los derechos reservados
  </div>
</footer>
